/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}

.flex-spaced {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
